.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2px;
}

.wrapper div {
    padding: 10px;
    background-color: #eee;
    border: 1px solid grey;
}

.wrapper div:nth-child(odd) {
    background-color: #ddd;
}