@media screen and (min-width:768px){
    .container-1 {
        display: flex;
    }
    
    .container-2 {
        display: flex;
        justify-content: space-around;
    }
}

.container-3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.container-1 div, .container-2-box, .container-3-box {
    border: 1px solid #ccc;
    padding: 10px;
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 2;
}

.box-3 {
    flex: 3;
}

.container-2-box {
    flex-basis: 27%; /* same as width*/
}

.container-3-box {
    flex-basis: 15%;
    background-color: grey;
}

@media screen and (max-width: 768px) {
    .container-3-box {
        flex-basis: 40%;
    }
}

