* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container .box-1 h1,.box-2 h1,.box-3 h1 {
    color: green;
    padding: 20px;
    text-align: center;
}


p {
    color: blue;
    font-size: 16px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:blue;
    text-decoration: underline;
}

a:active {
    color: #000;
}

.container {
    width: 90%;
    margin: 10px auto;  
    /* display: flex; */
}

.button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
}

.button:hover {
    color: #fff;
    background-color: red;
    text-decoration: none;
}

.clr {
    clear: both;
}

.box-1,.box-2,.box-3 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    padding: 20px;
    margin: 10px 0px;
}

.categories {
    border: 1px solid crimson;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    margin: 10px 0;
}

.categories h2 {
    padding: 20px;
    color: green;
    text-align: center;
    font: bold 30px sans-serif;
}

.categories li {
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px dotted black;
    padding-left: 10px;
}

ul {
    list-style: none;
    padding: 20px;
    padding-top: 0px;
}

.my-form {
    padding: 30px;
}

.my-form .form-group {
    padding-bottom: 10px;
}

.my-form label {
    display: block;
    padding-bottom: 2px;
}

.my-form input[type="text"],.my-form input[type="email"],.my-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.block {
    float: left;
    width: 33.3%;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 20px 0;
}

.block p {
    color: black;
    padding-top: 10px;
}

.block-container {
    width: 100%;
    height: auto;
}

#main-block {
    float: left;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid lightblue;
    padding: 10px;
}

#sidebar {
    float: right;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid lightblue;
}

#main-block p {
    padding-bottom: 0;
    padding: 10px 0;
    color: black;
}