* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin: 10px;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
    gap: 1px;
    background-color: #ddd;
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-slot {
    background-color: #e2e2e2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.slot {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot:hover {
    background-color: #c2c2c2;
}
