span {
  /* display: block; */
  display: inline-block;
  color: darkblue;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}

div {
  /* display: inline; */
  color: darkorange;
  border: 20px 20px crimson;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}

p {
  display: inline;
  color: orangered;
  font-size: 30px;
}

li {
  color: purple;
  font-size: 30px;
}

h1 {
  color: red;
  font-size: 30px;
  /* display: inline; */
}

h2 {
  color: green;
  font-size: 30px;
}

h3 {
  color: indianred;
  font-size: 30px;
}

a {
  font-size: 30px;
}

em {
  font-size: 30px;
}