@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.navbar h1 {
  color: #f1356d;
}

.navbar a {
  padding: 6px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: #f1356d;
}

.blog-list h2{
  color: #f1356d;
  font-size: 2.2rem;
}

.blog-preview {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #f1356d;
}

.blog a {
  text-decoration: none;
}

.btn {
  height: 2rem;
  padding: 0 1rem;
  background-color: #f1356d;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.blog-details h2{
  color: #f1356d;
  font-size: 2rem;
}

.blog-details p {
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.blog-details div {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.blog-details button {
  background-color: #f1356d;
  color: #f2f2f2;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin-top: 16px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.create h2 {
  color: #f1356d;
  font-size: 2rem;
  margin-bottom: 20px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: block;
}

.create button {
  margin-top: 10px;
  background-color: #f1356d;
  border: none;
  border-radius: 5px;
  color: #fafafa;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}