* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0f1b21;
  color: #26ffcb;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
}

.btn {
  font-size: 1.2rem;
  padding: 14px 26px;
  border-radius: 25px;
  color: #26ffcb;
  cursor: pointer;
  background: #1f3540;
  border: none;
  margin-top: 20px;
}

.row1, .row2, .row3 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  background-color: #1f3540;
  border: #0f1b21 solid 4px;
  border-radius: 12px;
  cursor: pointer;
}